  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200;1,300;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400&family=Source+Code+Pro:ital,wght@1,200;1,300;1,400;1,500;1,600&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace; */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url(./img/imgHeader/background.png) no-repeat;
}
